<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>UTKA</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div id="phaser-container"></div>
<div style="text-align: center"><input id="krya-text" type="text" maxlength="32" placeholder="Enter - отправить сообщение (лимит 32 символа)" style="width: 1019px"></div>
<div style="text-align: center">Массовая Многопользовательская Онлайн игра "Уточки"</div>
<div style="text-align: center">Управление на клавиши ↑ ↓ ← → и Ctrl (левый или правый)</div>
<script src="javascripts/phaser.min.js"></script>
<script src="javascripts/utkaGame.js"></script>
</body>
</html>